<div class="row mb-3">
    <div class="col-12">
        <div class="form-inline">
            <div class="form-group">
                <input [(ngModel)]="searchString" (keyup)="search()" type="text" name="searchBox" id="searchText" class="form-control" placeholder="Search here" />
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>We have found {{(stocks$)?.length}} stock</strong> 
</div>

<script>
  $(".alert").alert();
</script>
<table class="table table-bordered table-hover table-inverse ">
    <thead class="thead-inverse">
        <tr>
            <th>Stock Name</th>
            <th>Stock Exchange</th>
            <th>Stock price</th>
            <th>Favorite</th>
        </tr>
        </thead>
        <tbody>
            <tr class="stock-item" *ngFor="let stock of stocks$" [stock]="stock">
            </tr>
        </tbody>
</table>
<div class="btn-group" role="group">
    <button  class="btn btn-info" (click)="nextPage()">Next page</button>
    
</div>

